
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt02{
	border: 2px solid #C0C0C0; 
	border-radius:5px;
	background:#fff;
	padding: 5px 10px;
}
}