
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt06, #ID_txt07, #ID_txt08, #ID_txt09, #ID_txt10 { line-height:11px; font-size:10px !important;word-spacing: -1px;}
#ID_title{
	width:471px !important;
	letter-spacing:-1px !important;
}
#ID_txt07 {line-height:9px !important;}