
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01{
	background-color:#e0d5e6;
	border:2px solid #dddddd;
	border-radius:5px;
	color:#000;
	background:#e0d5e6;
	box-shadow:0px 6px 5px #808080;
	}
#ID_s2_txt01{
	background-color:#e0d5e6;
	border:2px solid #dddddd;
	border-radius:5px;
	color:#000;
	background:#e0d5e6;
	box-shadow:0px 6px 5px #808080;	
	}
#ID_s3_txt01{
	background-color:#e0d5e6;
	border:2px solid #dddddd;
	border-radius:5px;
	color:#000;
	background:#e0d5e6;
	box-shadow:0px 6px 5px #808080;
	}
#ID_s4_txt01{
	background-color:#e0d5e6;
	border:2px solid #dddddd;
	border-radius:5px;
	color:#000;
	background:#e0d5e6;
	box-shadow:0px 6px 5px #808080;
	}